.container {
    background-color: #333333;
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #555555;

    align-items: center;
    cursor: pointer;
}


.container:hover {
    border-color: #777777;
}



.room_id {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}


.player_count {
    font-size: 16px;
    color: #dddddd;
    margin-top: 4px;
}


.room_info_button {
    margin-left: auto;
}