.container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: #2f0022;
    overflow: hidden;
}


.top {
    height: 75px;
    overflow: hidden;
}


.content {
    flex: 1;

    overflow: hidden;
}

.bottom {
    height: 150px;
    background-color: #696969;

    overflow: hidden;
}